html {
  height: 100vh;
}

body {
  height: 100vh;
  margin: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100vh;
}

#body {
  min-height: 100vh;
  background: white;
  padding: 4rem 1rem 1rem;
}

#background {
  width: 100%;
  min-height: 100%;
  position: fixed;
  z-index: -1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  width: 100%;
  position: fixed !important;
  z-index: 99;
}

.twitch-icon {
  color: #A970FF;
}

.twitter-icon {
  color: #55ACEE;
}

.instagram-icon {
  color: #AC2BAC;
}

.border-bottom-dark {
  border-bottom: 2px solid #757575 !important;
}

.twitch {
  width: 100%;
  aspect-ratio: 16 / 9;
}

.twitch-main {
  width: 100%;
  height: 100%;
}

.collapse-el {
  height: fit-content;
}

.row-el {
  padding-top: calc(var(--mdb-gutter-x) * 0.25);
  padding-bottom: calc(var(--mdb-gutter-x) * 0.25);
}

.col-el {
  padding-left: calc(var(--mdb-gutter-x) * 0.25) !important;
  padding-right: calc(var(--mdb-gutter-x) * 0.25) !important;
}

.card-el {
  width: 100%;
}

.tweet-body {
  padding: 1rem;
}

.tweet-public {
  padding-top: 1rem;
}

.tweet-text {
  margin-bottom: 0 !important;
}

.twitch-modal {
  padding: 0 !important;
}

.twitch-row {
  height: 100vh;
  overflow: hidden;
}

.banished {
  padding: 0;
  height: 100vh;
  border-radius: 0 !important;
}

.graph-axis {
  color: #f1f1f1;
}

.twitch-color {
  color: #6441a5 !important;
  border-color: #6441a5 !important;
}

.twitch-watch {
  top: 0;
  right: 14%;
  z-index: 99;
}

.twitch-watch-column {
  z-index: 0;
  height: 100%;
  vertical-align:top;
  display: inline-block;
}

.twitch-vid-1 {
  width: 60%;
}

.twitch-vid-2 {
  width: 80%;
}

.twitch-vid-3 {
  width: 100%;
}

.twitch-chat {
  width: 20%;
}

.twitch-chat-hid {
  display: none;
}

.twitch-btn {
  display: inline;
}

.twitch-chat-min {
  right: 0;
  position: absolute;
  background-color: #fff;
  padding: 0.75rem 1rem 0 1rem;
}